/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#input, #input2, #input3, #input4, #input5, #input6, #input7, #input8, #input9, #input10, #input11, #input12{
	color:#2196f3;
	padding-bottom: 3px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 100;
}

 #awesome{
 	color:#4153b6;
 }

.welcome{
	text-align: center;
}

 body{
 	background-image: url('https://66.media.tumblr.com/4473826397d286134aadd294bd816af7/tumblr_ntalo41wzy1qele20o1_r1_1280.gifv')
 }

 .destibox{
 	padding: 2px;
 	 border: 1px solid grey;
 	 position: relative;
 	 text-align: center;
 	 border-radius:10px;
 }

 #destDelete{
 	position: absolute;
 	top: 5px;
 	right: 5px;
 }

#activities-container{
	position: relative;
}

 #destacteditdel{

 }

 #main{
 		position: relative;
 }

 #logout{
 	position: relative;
 	top: 0px;
 	left: 450px;
 }

 .login{
 	width:250px;
 	color:grey;
 	padding: 10px;
 	border: 2px solid grey;
 	border-radius: 10px;
 	margin: 0px auto;
 }

 .logo{
 	 	margin: 0px auto;
 	 	width:200px;
 }

  .logo2{
 	 	margin: 0px auto;
 	 	width:100px;
 }

 #x, #y, #u, #v, #w {
 	height: 1.5rem;
 }

 /*this is where for the tabs*/

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #64b5f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2196f3;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2196f3;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button{
	width:109.70px;
}